<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<h3 class="text-center", style="background-color: #EEEEEE;">マイページ</h3>
		</div>
	</div>

	<div class="row">
		</br>
		<h4 class="col-md-2">登録情報</h4>
		<span><%=link_to "編集する", edit_customers_path, class: "btn btn-info" %></span>
		<span><%=link_to "パスワードを変更する", new_customer_password_path, class: "btn btn-info" %></span>
	</div>

	<div class="row">
		<table class="table table-hover table-bordered">
			</br>
			<tr>
				<td class="info", style="width: 200px">氏名</td>
				<td>
					<%= @customer.name %>
				</td>
			</tr>

			<tr>
				<td class="info">カナ</td>
				<td>
					<%= @customer.kana_name %>
				</td>
			</tr>

			<tr>
				<td class="info">郵便番号</td>
				<td>
					<%= @customer.zip_code %>
				</td>
			</tr>

			<tr>
				<td class="info">住所</td>
				<td>
					<%= @customer.address %>
				</td>
			</tr>

			<tr>
				<td class="info">電話番号</td>
				<td>
					<%= @customer.phone_number %>
				</td>
			</tr>

			<tr>
				<td class="info">メールアドレス</td>
				<td>
					<%= @customer.email %>
				</td>
			</tr>

		</table>
	</div>

	<div class="row">
		<h4 class="col-md-2">配送先</h4>
		<p><%=link_to "一覧を見る", shipping_addresses_path, class: "btn btn-info" %></p>
	</div>

	<div class="row">
		<h4 class="col-md-2">注文履歴</h4>
		<p><%=link_to "一覧を見る", orders_path, class: "btn btn-info" %></p>
	</div>

</div>
