<% if @item.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@item.errors.count, "error") %> prohibited this obj from being saved:</h3>

    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
	<div class="row">
		<br>
		<%= form_with model:@item, url: '/admin/items', method: :post, class: "form-horizontal", local: true do |f| %>
			<div class="col-md-3">
				<div class="field">
				  <%= attachment_image_tag(@item, :image, fallback: "no_image.jpg", size: "250x250") %>
					<%= f.attachment_field :image, class: "user_image" %>
				</div>
			</div>

			<div class="col-md-9">
				<br>
				<br>
				<br>
				<br>
				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">商品名</label>
						<div class="col-md-8">

							<%= f.text_field :name, class: "name col-md-10" %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">商品説明</label>
						<div class="col-md-8">

							<%= f.text_area :description, class: "description col-md-10" %>
					</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">ジャンル</label>
						<div class="col-md-8">

							<%= f.collection_select(:genre_id, Genre.all, :id, :name, {},{class: "col-md-10"}) %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">税抜き価格</label>
						<div class="col-md-8">

							<%= f.text_field :price_excluding_tax, class: "tax col-md-10" %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">販売ステータス</label>
						<div class="col-md-8">
				      		<%= f.select :is_active, [['販売中', :Availble ],['売り切れ', :Invalid ]], {}, {class: "col-md-10"}%>
	      				</div>
				</div>

				<div class="actions form-group" align="right">
					<div class="col-md-offset-2 col-md-10">
						<%= f.submit '商品新規登録', class:"btn btn-info btn-md" %>
					</div>
				</div>
			</div>

		<% end %>
	</div>
</div>
