<div class="col-sm-6"></br>
  <%= form_with model: review, url: reviews_path, method: :post, class: "form-horizontal", local: true do |f| %>
    <%= f.hidden_field :item_id, value: params[:id] %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <div id="rating-form"><label>Rating </label></div>
    <%= f.label :名前 %></br>
    <%= f.text_field :title %></br>
    <%= f.label :レビュー %></br>
    <%= f.text_area :body %>
    <%= f.submit "レビューを投稿する", class: "btn btn-dark btn-block" %>
  <% end %>

    <script>
      $('#rating-form').raty({
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[rate]'
      });
    </script>
</div>
