<div class="container">
  <div class="row">
    <div class="page-head">All Products（<%= @items_n.count %>）</div>
      <hr width="100%" align="center" color="gray">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <table>
              <tr>
                <td>
                  <!--商品画像-->
                  <%= link_to item_path(item) do %>
                    <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x250" %>
                    <p></p>
                    <div class="item-details">
                    <!--商品名-->
                    <p><%= item.name %></p>
                  <% end %>
                    <!--商品価格-->
                    <% if item.is_active == "Availble" %>
                      <p>¥<%= item.including_tax.to_s(:delimited) %></p>
                    <% elsif item.is_active == "Invalid" %>
                      <p class="soldout">sold out</p>
                    <% end %>
                      </div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
            <!-- １ページに８件表示する -->
    <%= paginate @items %>
  </div>
</div>
