<div class="container">
  <div class="row">
    <div class="page-head">All Products（<%= @items_n.count %>）</div>
      <hr width="100%" align="center" color="gray">
        <div class="item-wrap">
          <% @items.each do |item| %>
            <div class="item-box">
              <%= link_to item_path(item), class: "btn-link", :style=>"color:0099FF;"  do %>
                <span id="img_field" class="item">
                  <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "200x250" %>
                </span>
                <p></p>
                <div class="item-details">
                <p><%= item.name %></p>
              <% end %>
              <!--商品価格-->
              <% if item.is_active == "Availble" %>
                <p>
                  ¥<%= item.including_tax.to_s(:delimited) %>
                </p>
              <% elsif item.is_active == "Invalid" %>
                <p class="soldout">sold out</p>
              <% end %>
                </div>
           </div>
          <% end %>
      </div>
      <!-- １ページに８件表示する -->
    <%= paginate @items %>
  </div>
</div>
