<div class="container">
   <div class="row">
      <div class="page-head"><%= @item.name %></div>
         <hr width="100%" align="center" color="gray">
            <div class="col-md-7">
               </br>
               <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg", size: "450x450" %>
            </div>
            <div class="col-md-5">
               </br>
               </br>
               <%= @item.description %></br>
               </br>
               ￥<%= @item.including_tax.to_s(:delimited) %>(税込)
               </br>
               </br>
               <!--いいね機能-->
               <% if @item.liked_by?(current_customer) %>
                  <li>
                     <%= link_to item_likes_path(@item), method: :delete do %>
                     <i class="fas fa-heart" aria-hidden="true"></i>
                     <%= @item.likes.count %>
                  <% end %>
                  </li>
                  <% else %>
                  <li>
                  <%= link_to item_likes_path(@item), method: :post do %>
                     <i class="far fa-heart" aria-hidden="true"></i>
                     <%= @item.likes.count %>
                  <% end %>
                     </li>
               <% end %>

            <!--↓ログインしている場合のみカートに入れるフォームが表示される-->
            </br></br></br>
            <% if customer_signed_in? %>
               <% if @item.is_active == "Availble" %>
                  <%= form_with model:@cart_item, url: "/cart_items", method: :post, class: "form-horizontal", local: true do |f| %>
                     <div class="col-md-5">
                        <%= f.hidden_field :item_id, value: params[:id] %>
                        <%= f.hidden_field :customer_id, value: current_customer.id %>
                        <%= f.select :quantity, {"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7, "8": 8, "9": 9}, { include_blank: "quantity"}, { class: "form-control" , required: true } %>
                     </div>
                     </br></br>
                     <div class="col-md-5">
                        <%= f.submit "Add to Cart", class: "btn btn-dark btn-block" %>
                     </div>
                        <% end %>
               <% else %>
                        <div class="col-md-5 col-md-offset-7">
                           申し訳ございません。</br>こちらの商品はただ今、品切れになっております。
                        </div>
               <% end %>
            <% end %>
            </br></br></br>
            <%= render 'public/reviews/form', reviews: @reviews %>
         </div>
   </div>
</div>
